/* Add CSS Styling */

.main_theme{
	font-family: "Verdana", "DejaVu Sans", sans-serif;
	background-color: rgb(255, 157, 152);
}

.main_theme.big{
	font-size: 24px;
}

#big_blue{
	color: blue;
	font-size: 36px;
}
#big_green{
	background-color: rgb(74, 255, 167);
	font-size:24px;
	font-weight: bold;
}
